{% for designer in shop.metaobjects.designer.values %}
  <div>
    <div>
      <img src="{{ designer.image | image_url: 500px  }}" alt="{{ designer.image.alt }}" width="" height="">
    </div>
    <div>
      <h2>{{ designer.name }}</h2>
      <div>
        {{ designer.description }}
      </div>
      <a href="{{ designer.website }}" target="_blank">Website</a>
    </div>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Designer",
  "settings": [],
  "presets": [
    {
      "name": "Designer",
      "settings": {}
    }
  ]
}
{% endschema %}
